<main class="main">
  <div class="inner">
    <div class="item__wrapper">
      <p class="item__heading">
        <%= @item.name %>
      </p>
      <%= link_to user_path(@item.user.id), class: :item__user do %>
        <i class="fa-solid fa-user"></i>
        <%= @item.user.name %>
      <% end %>
      <% if user_signed_in? %>
        <div class="item__manage">
          <% if current_user.id == @item.user_id %>
            <%= link_to "編集する", edit_item_path(@item.id), class: :item__btn %>
            <%= link_to "削除する", item_path(@item.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: :item__btn %>
            <div class="counter" %>
              <i class="fa-solid fa-star"></i>
              <%= @item.favorites.length %>
            </div>
          <% else %>
            <%if !Favorite.exists?(user: current_user, item_id: @item.id) %>
              <%= link_to item_favorites_path(@item.id), method: :post do %>
                <i class="fa-regular fa-star"></i>
              <% end %>
            <% else %>
              <%= link_to item_favorite_path(@item), method: :delete do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
            <% end %>
            <%= @item.favorites.length %>
          <% end %>
        </div>
      <% end %>
      <div class="item__manage">
        <% @tags.each do |tag| %>
          <i class="fa-solid fa-tag"></i>
          <%= link_to tag[1] , tag_path(tag[0]), class: :tag__btn %>
        <% end%>
      </div>
      <div class="item__image">
        <% if @item.image.attached? %>
          <% @image = @item.image%>
        <% else %>
          <% @image = 'noimage.png' %>
        <% end %>
        <%= image_tag @image %>
      </div>
      <div class="item__body">
        <div class="item__detail">
          <p class="detail__title">概要</p>
          <p class="detail__message"><%= @item.content %></p>
        </div>
      </div>
      <div class="item__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@item, @comment],local: true do |f| %>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn %>
            </div>
          <% end %>
        <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.text %>
              <%= link_to user_path(comment.user.id), class: :comment_user do %>
                <i class="fa-solid fa-user"></i>
                <%= comment.user.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
